.Flex-Container {
    display: flex;
}

.Top-Part {
    margin-top: 200px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.Half-Width {
    width: 50%;
    margin-bottom: 150px;
}

.Half-Width img {
    Width: 100%;
    margin-top: -200px;
}

.Half-Width2 img {
    width: 47%;
    padding-left: 170px;
    padding-top: 40px;
}

.My-recipes {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.Recipe {
    text-align: left;
    width: 33%;
    border: 20px solid;
    border-radius: 50px;
    margin-left: 100px;
    border-color: white;
    box-shadow: 0 0 30px lightgray;
    margin-right: 100px;
    margin-bottom: 150px;
}

.Recipe p {
    padding-left: 30px;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Recipeo {
    margin-left: 30px;
}

.Recipe img {
    width: 100%;
}

.Recipe h1 {
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: -30px;
}

.My-recipes h2 {
    font-size: 80px;
    color: gray;
}

.Middle-Part {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 1950px;
    margin: 0;
    padding-right: 50px;
}

.Middle-Part h1 {
    padding-top: 70px;
}

.Middle-Part p {
    padding-bottom: 50px;
    padding-right: 50px;
}

.Top-Part p {
    font-size: 25px;
    margin-left: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.Perfect {
    margin-top: -70px;
}

.Perfect2 {
    margin-top: -70px;
}

.Top-Part h1 {
    font-size: 90px;
    margin-left: 60px;
    font-weight: 700;
    padding-right: 10px;
}

a {
    text-decoration: none;
    font-size: 35px;
    background-image: linear-gradient(lightsalmon, Tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    margin-left: 50px;
}

.Orange {
    color: rgb(255, 166, 0);
}

.Gray {
    color: rgb(105, 105, 105);
}

.Follow-Sec p {
    font-size: 20px;
    margin-top: -50px;
}

.Border {
    border: 15px solid;
    border-color: white;
    box-shadow: 0 0 10px lightgray;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 150px;
    margin-top: -100px;
}

.YT {
    margin-left: 220px;
}

.Insta {
    margin-left: 300px;
}

.Dribbble {
    margin-left: 300px;
}

.Follow-Sec h1 {
    font-size: 60px;
    font-weight: 800;
}

.Last-Sec {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    background-color: rgb(1, 1, 31);
}

.Last-Sec p {
    font-size: 20px;
    color: white;
    padding-bottom: 70px;
}