.Flex-Container {
    display: flex;
}

.Top-Part {
    margin-top: 200px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.Half-Width {
    width: 50%;
    margin-bottom: 150px;
}

.Half-Width img {
    Width: 100%;
    margin-top: -200px;
}

.Half-Width2 img {
    width: 47%;
    padding-left: 170px;
    padding-top: 40px;
}

.Middle-Part {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 1950px;
    margin: 0;
    padding-right: 50px;
}

.Middle-Part h1 {
    padding-top: 70px;
}

.Middle-Part p {
    padding-bottom: 50px;
    padding-right: 50px;
}

p {
    font-size: 25px;
    margin-left: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.Perfect {
    margin-top: -70px;
}

.Perfect2 {
    margin-top: -70px;
}

h1 {
    font-size: 90px;
    margin-left: 60px;
    font-weight: 700;
    padding-right: 10px;
}

a {
    text-decoration: none;
    font-size: 35px;
    background-image: linear-gradient(lightsalmon, Tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    margin-left: 50px;
}

.Orange {
    color: rgb(255, 166, 0);
}

.Gray {
    color: rgb(105, 105, 105);
}